:root {
	--bg-light: #f8f9fa;
	--background-image: url(./images/bg.png);
	--bg-gradient: linear-gradient(135deg, #e0eafc, #cfdef3);
	--text-light: #212529;
	--sidebar-bg-light: rgba(255, 255, 255, 0.9);
	--primary-color: #007bff;
	--primary-color-hover: #0056b3;
	--sender-bg: rgba(209, 231, 221, 0.9);
	--other-user-bg: rgba(248, 215, 218, 0.9);
	--mention-bg: rgba(255, 243, 205, 0.9);
	--mention-border: #856404;
	--bg-dark: #343a40;
	--bg-dark-gradient: linear-gradient(135deg, #495057, #343a40);
	--text-dark: #ffffff;
	--sidebar-bg-dark: rgba(50, 50, 50, 0.9);

	--profile-bg-light: #f0f4fc;
	--profile-avatar-border: #007bff;
	--profile-edit-btn: #007bff;
	--profile-edit-btn-hover: #0056b3;
	--profile-details-color: #6c757d;

	--messenger-bg: var(--bg-light);
	--messenger-sidebar-bg: var(--sidebar-bg-light);
	--messenger-conversation-bg: var(--bg-light);
	--messenger-input-bg: var(--sidebar-bg-light);
	--messenger-border: #ddd;
	--messenger-text: var(--text-light);
	--messenger-message-sent-bg: var(--primary-color);
	--messenger-message-received-bg: var(--other-user-bg);
	--messenger-message-text: var(--text-light);
	--messenger-time-color: #777;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-light: #212529;
		/* --background-image: none; */
		--text-light: #ffffff;
		--profile-bg-light: #343a40;
		--profile-details-color: #adb5bd;

		--messenger-bg: var(--bg-dark);
		--messenger-sidebar-bg: var(--sidebar-bg-dark);
		--messenger-conversation-bg: var(--bg-dark);
		--messenger-input-bg: var(--sidebar-bg-dark);
		--messenger-border: #444;
		--messenger-text: var(--text-dark);
		--messenger-message-sent-bg: var(--primary-color);
		--messenger-message-received-bg: #495057;
		--messenger-message-text: var(--text-dark);
		--messenger-time-color: #aaa;
	}
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: var(--bg-light);
	background-image: var(--background-image);
	color: var(--text-light);
	transition: background 0.3s, color 0.3s;
	background-position: auto;
	background-size: cover;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--primary-color) var(--bg-light);
}

*::-webkit-scrollbar {
	width: 4px;
}

*::-webkit-scrollbar-track {
	background: var(--bg-light);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 5px;
}

.container {
	width: 100%;
	max-width: 1680px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.mt-1 {
	margin-top: 5px;
}